[Unit]
Description=Canvas init
After=apache.service
[Service]
Type=simple
ExecStart=/data/wwwroot/canvas/script/canvas_init start
User=canvas
Group=canvas
[Install]
WantedBy=multi-user.target
