[Unit]
Description=Canvas init
After=network.target
[Service]
Type=simple
ExecStart=-/data/wwwroot/canvas/script/canvas_init start
ExecStop=-/data/wwwroot/canvas/script/canvas_init stop
[Install]
WantedBy=multi-user.target
